.view-payment {
  height: 100%;
}
hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.navigate-payments {
  padding-top: 1rem;
}
.navigate-payments a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
.middle-font-styles h6 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  color: #6f6f84;
  font-size: 18px;
}
.middle-font-styles p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #222234;
  font-size: 14px;
}
.middle-font-styles small {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #222234;
  font-size: 13px;
}

.view-payment h4 {
  font-size: 16px;
}
.view-payment .pill-containers span {
  height: 28px;

  align-items: center;
}
.waste-type span {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* user onViewOfPayment */
