/* .about-component {
  margin: auto;
}

.about-header {
  font-style: bold;
  text-align: center;
  font-size: 50px;
}

.about-container {
  position: absolute;

  width: 756px;
  height: 332px;
  right: 637px;
  bottom: 354px;
  top: 266px;
  background: #f2efee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  position: absolute;
  width: 551px;
  height: 157px;
  left: 123px;
  top: 160px;
 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 75px;


  color: #333333;
}

.about-company-container {
  margin-top: 251px;
  margin-left: 1127px;
  width: 194.84px;
  height: 178.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company-container img {
  object-fit: cover;
  height: 400px;
  width: 450px;

  border-radius: 20px;
  margin-top:-158px ;

}

.about-company-para {
  position: absolute;
  width: 660px;
  height: 260px;

  padding: 60px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;


  color: #000000;
} */

/* 
.companyhome-container{

    width:100%;
    height:100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px 20px 10px 10px;
    display: flex;
    flex-wrap: nowrap;
  
    border-radius: 10px;
    margin-left: 50px;
  
  }
  
  
  .companyhome-container1{
  
  
  width: 150%;
  height: 100%;
  margin: 10px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
  border-radius: 10px;
  background: #F2EFEE;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left:20px;
  max-width: 1500px;
  
  }
  
  .companyhome-container2{
  
    width: 500px;
    margin-top: -30px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;

    }
    
  
  .companyhome-row{
  
  margin-top: 100px;
  max-width:1000px;
  }
  
  .companyhome-header{
  
  font-family: 'Ubuntu Mono';
  font-style: bold;
  font-weight: 700;
  font-size: 70px;
  
  display: flex;
  align-items: center;
  color: #153761;
  margin-left: 170px;
  
  }
  
  .img-companyhome{
  
    width:100%;
    height:100%;
  
  
  }
  
  
  .companyhome-container3{
  
  
  width: 35%;
  margin: 10px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  border-radius: 10px;

  margin-left:50px;
  }
  
  .companyhome-content{
  
    padding:10px;

    margin: 10px;
    margin-top:30px;
    color:rgb(20, 19, 19);
    height:300px;
    font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;

  
  
  color: #000000;
  }





  .companyhome-container--location1{
  
  
    width: 35%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: rgb(39, 36, 70);
    margin-left:0px;
    }
    
  .companyhome-container-location2{
  
    width: 350px;
    margin-top: -30px;
    margin-left:190px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: aquamarine;
    height:100%;
    float:right;
    }

    .location-card{

        float:right;
        max-width: 400px;
        background-color: #153761;
    }
     */

.companyhomerow {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: nowrap;

  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.companyhomecontainer {
  padding: 10px;
  /* background-color: azure; */
  margin: 10px;
  margin-left: 20px;
  width: 650px;
  height: 500px;
}

.companyhomecontainer-content {
  /* background-color: blue; */
  padding: 10px;
  margin: 20px;
  height: 400px;
}

.companyhomecontainer-div1 {
  margin: 10px;
  /* background-color: blueviolet; */
  margin-top: 20px;

  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;

  color: #153761;
}

.companyhomecontainer-div2 {
  margin: 10px;
  margin-top: 50px;
  /* background-color: blueviolet; */
  margin-top: 80px;
}

.companyletstart{

    /* padding:10px; */
    margin:10px;
    background-color: rgb(66, 218, 218);
    text-align: center;
    width: 310px;
    height: 82px;
    margin-left:100px;
    border-radius: 20px;
}

.letsstart-content{

    padding:12px;
    margin-top:10px;
    font-family: 'Rye';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;

color: #000000;
}

.companyhomecontainer-div3 {
  margin: 10px;
  /* background-color: blueviolet; */
  margin-top: 50px;
  display: flex;
}
.companyhome-bottom-section {
  /* background-color: aqua; */
  /* display: flex; */
  margin: 10px;
  margin-left: 83px;
  font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #000000;

}

.companyhomecontainer1 {
  padding: 10px;
  /* background-color: azure; */
  margin: 10px;
  width: 450px;
  height: 500px;
  float: right;
}

.companycontainer1-content {
  padding: 20px;
  /* background-color: blue; */
  margin: 20px;
}

.companyhomecontainer2 {
  padding: 10px;
  background-color: azure;
  margin: 10px;
  margin-left: 20px;
  width: 320px;
  height: 500px;
  float: right;
  border-radius: 10px;
  box-shadow: 1px solid;
  margin-top:-20px;
}

.companyhomelogoimg {
  margin-top: 20px;
  margin-left: 80px;
  width: 210px;
  height: 140px;
}

.img-homepagelogo {
  width: 100%;
  height: 100%;
}

.img-homepagecontent {
  width: 100%;
  height: 100%;
}
